$backgroundMainColor : #3FA9A9;
$white : #ffffff;
$black : #000000;
$lightGray : #D9D9D9;
$windowFramePadding : 5px;
$windowFrameBackgroundColor : #C0C0C0;
$windowTitlebarColor : linear-gradient(90deg, #0055D4 0%, #010088 100%);
$windowTitlebarPadding : 1px 3px 6px 10px;

//스킬컬러
$html : #E65100;
$css : #42A5F5;
$javascript : #FFCA28;
$scss : #EC407A;
$react : #00BCD4;
$swiper : #0080FF;
$api : #00DF63;
$json : #DE9825;
$jquery : #0766A1;
$figma : #874FFF;
$ai : #FF9A00;
$ps : #288FDB;
$blender : #E87D0D;
$vscode : #25B0F3;
$github : #F6F8FA;
$netlify : #06BDBA;